.idea
/target/
/.idea/
/log/
/terraform/
/deploy/.terraform/
/deploy/.terraform.lock.hcl
/deploy/terraform.tfstate
/deploy/terraform.tfstate.backup
/deploy/terraform.tfstate.d/
/deploy/*.zip
/*.iml
.idea/compiler.xml
